{% extends "Layout.twig" %}


{% block body %}

    <main class="actu">
        <section class="les_actualites">
            <article class="clearfix article_actu">
                <div class="text left">
                    <div class="content-title test">
                        <h2 class="actu-title test2">Abonnement</h2>
                    </div>
                    <h3 class="subhead">Projet Astrale</h3>
                    <span class="date">24 Avr. 2017</span>
                    <p class="description">Situé au coeur de NOVEOS Parc d’Affaires Paris Sud Ouest, en plein essor. L'immeuble tertiaire "Astrale" permet de répondre aussi bien à un mono utilisateur qu’à un grand nombre de locataires. D’une capacité d'accueil de 1 500 personnes, avec une surface de 25 000 m2 SHON et 56 000m2 SHOB, il intègre...</p>
                    <a href="index.php?p=detail_actu" class="button-more">Lire la suite</a>
                </div>
                <div class="imagery left">
                    <img class="img-actu" src="../assets/images/actu/actualite-1.png">
                    <div class="underground-img"></div>
                </div>
            </article>
            <article class="clearfix article_actu">
                <div class="text right">
                    <div class="content-title test">
                        <h2 class="actu-title test2">Abonnement</h2>
                    </div>
                    <h3 class="subhead">Internat du lycée agricole à Château Chinon (58)</h3>
                    <span class="date">24 Avr. 2017</span>
                    <p class="description">Le bâtiment est régi par une courbe à double inflexion qui s’avance dans le paysage vers le Morvan avec une tisanerie suspendue dans le vide à son extrémité.
                        Différentes loggias ponctuent le bâtiment et offrent depuis l’intérieur autant de vues sur Château Chinon et la campagne environnante.
                        ...</p>
                    <a href="index.php?p=detail_actu" class="button-more">Lire la suite</a>
                </div>
                <div class="imagery right">
                    <img class="img-actu" src="../assets/images/actu/actualite-2.png">
                    <div class="underground-img"></div>
                </div>
            </article>
            <article class="clearfix article_actu">
                <div class="text left">
                    <div class="content-title test">
                        <h2 class="actu-title test2">Abonnement</h2>
                    </div>
                    <h3 class="subhead">Aménagement du bowling Le colisée à Angers (49)</h3>
                    <span class="date">24 Avr. 2017</span>
                    <p class="description">Le bâtiment est régi par une courbe à double inflexion qui s’avance dans le paysage vers le Morvan avec une tisanerie suspendue dans le vide à son extrémité.
                        Différentes loggias ponctuent le bâtiment et offrent depuis l’intérieur autant de vues sur Château Chinon et la campagne environnante...</p>
                    <a href="index.php?p=detail_actu" class="button-more">Lire la suite</a>
                </div>
                <div class="imagery left">
                    <img class="img-actu" src="../assets/images/actu/actualite-3.png">
                    <div class="underground-img"></div>
                </div>
            </article>
            <article class="clearfix article_actu">
                <div class="text right">
                    <div class="content-title test">
                        <h2 class="actu-title test2">Abonnement</h2>
                    </div>
                    <h3 class="subhead">Projet Astrale</h3>
                    <span class="date">24 Avr. 2017</span>
                    <p class="description">Situé au coeur de NOVEOS Parc d’Affaires Paris Sud Ouest, en plein essor. L'immeuble tertiaire "Astrale" permet de répondre aussi bien à un mono utilisateur qu’à un grand nombre de locataires. D’une capacité d'accueil de 1 500 personnes, avec une surface de 25 000 m2 SHON et 56 000m2 SHOB, il intègre...</p>
                    <a href="index.php?p=detail_actu" class="button-more">Lire la suite</a>
                </div>
                <div class="imagery right">
                    <img class="img-actu" src="../assets/images/actu/actualite-4.png">
                    <div class="underground-img"></div>
                </div>
            </article>
            <article class="clearfix article_actu">
                <div class="text left">
                    <div class="content-title test">
                        <h2 class="actu-title test2">Abonnement</h2>
                    </div>
                    <h3 class="subhead">Projet Astrale</h3>
                    <span class="date">24 Avr. 2017</span>
                    <p class="description">Situé au coeur de NOVEOS Parc d’Affaires Paris Sud Ouest, en plein essor. L'immeuble tertiaire "Astrale" permet de répondre aussi bien à un mono utilisateur qu’à un grand nombre de locataires. D’une capacité d'accueil de 1 500 personnes, avec une surface de 25 000 m2 SHON et 56 000m2 SHOB, il intègre...</p>
                    <a href="index.php?p=detail_actu" class="button-more">Lire la suite</a>
                </div>
                <div class="imagery left">
                    <img class="img-actu" src="../assets/images/actu/actualite-5.png">
                    <div class="underground-img"></div>
                </div>
            </article>
        </section>
    </main>
{% endblock %}