<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/base.css">
    {% block css %}{% endblock %}
    <title>{%  block title %}{% endblock title %}</title>
</head>
<body>
<header class="clearfix">
    <div id="content-logo">
        <h1>

            <a href="index.php?p=home">

                <img src="../assets/images/img-layout/logo.png" alt="">
            </a>
        </h1>
        <div class="burger">

            <img src="../assets/images/burger.png" alt="">

        </div>
        <nav class="burger-menu">
            <ul class="closed">
                <li><a href="index.php?p=listmag">Revues</a></li>
                <li><a href="index.php?p=actu">Actualités</a></li>
                <li><a href="index.php?p=apropos">À propos</a></li>
                <li><a href="#">S'ABONNER</a></li>
                <li><a href="#">Mon compte</a></li>
            </ul>
        </nav>
    </div>
    <div id="none">
        <nav>
            <ul>
                <form class="search_bar">
                    <input type="text" size="30" onkeyup="showResult(this.value)">
                    <div id="livesearch"></div>
                </form>
                <li><a href="#"><img src="../assets/images/img-layout/picto_compte.png" class="picto-nav" alt="pictogramme compte"></a></li>
                <li><a href="#"><img src="../assets/images/img-layout/picto_panier.png" class="picto-nav" alt="pictogramme panier"></a></li>
                <li><a href="#" class="picto_search"><img src="../assets/images/img-layout/picto_search.png" class="picto-nav" alt="pictogramme recherche"></a></li>
            </ul>
        </nav>
    </div>
    <div id="none">
        <nav>
            <ul>
                <li><a href="index.php?p=home">Accueil</a></li>
                <li><a href="index.php?p=listmag">Revues</a></li>
                <li><a href="index.php?p=actu">Actualités</a></li>
                <li><a href="index.php?p=apropos">À propos</a></li>
                <li><a href="index.php?p="><span class="upper">S'abonner</span></a></li>
            </ul>
        </nav>
    </div>
</header>
{% block body %}{%  endblock body %}


<footer class="clearfix ">
    <div class="info clearfix">
        <div>
            <h4>Appel d'offre</h4>
            <div class="line"></div>
            <p>Découvrez notre partenaire</p><p>DoubleTrade <a href="#">ici</a></p>
        </div>
        <div>
            <h4>Contactez-nous</h4>
            <div class="line"></div>
            <p>Vous souhaitez nous contacter ?</p><p>Rien de plus simple, cliquez <a href="#">ici</a></p>
        </div>
        <div>
            <h4>Suivez-nous</h4>
            <div class="line"></div>
            <ul>
                <li><a href="#"><img src="../assets/images/img-layout/fb.png"></a></li>
                <li><a href="#"><img src="../assets/images/img-layout/insta.png"></a></li>
                <li><a href="#"><img src="../assets/images/img-layout/pinterest.png"></a></li>
                <li><a href="#"><img src="../assets/images/img-layout/twitter.png"></a></li>
            </ul>
        </div>
    </div>
    </div>
    <h5 class="archi"><a href="index.php">L'Architecture</a></h5>
    <h5 class="legales"><a href="index.php?p=mention">Mentions légales</a></h5>
</footer>
{% block javascript %}

    <script>

        var burger_menu = document.querySelector('div.burger');
        var ul = document.querySelector('ul.closed');

        burger_menu.addEventListener('click', function(){
            ul.classList.toggle('closed');
        });

    </script>

{% endblock %}
</body>
</html>